<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, noodp, noimageindex, notranslate, nocache"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="generator" content="EasyAdmin"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <!--    default CSS -->
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{{ asset('assets/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
	<!-- Custom CSS -->
	<link href="{{ asset('assets/css/bootstrap3_modified.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/easyadmin-all.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/grid.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/css/custom_easyadmin.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery -->
    <script src="{{ asset('assets/jquery/jquery.min.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>

    <!-- Custom JS  -->


    <script src="{{ asset('assets/js/infscroll.js') }}"></script>
    <script src="{{ asset('assets/js/admin.js') }}"></script>
    <script src="{{ asset('assets/js/toolbar.js') }}"></script>
    <script src="{{ asset('assets/js/toolbar2.js') }}"></script>
    <script src="{{ asset('assets/js/table_toggle.js') }}"></script>
    {#<script src="{{ asset('assets/js/easyadmin-all.min.js') }}"></script>#}


</head>

<body>
{% block body %}



{% endblock %}
</body>
</html>
